.map-container
  %map{"ng-if" => "(active(\'\') && (mapShowed = true)) || mapShowed"}
    %google-map{options: "map.additional_options", center: "map.center", zoom: "map.zoom", styles: "map.styles", draggable: "true"}
      %map-search
      %markers{models: "mapMarkers", fit: "true",
      coords: "'self'", icon: "'icon'", click: "'reveal'"}
